body
{	
	font-family: "Microsoft YaHei";
	font-size: 12px;
	color: #000;
}

.header-top
{
	position: relative;
}

.content
{
	min-height: 500px;
	margin-top: 50px;
}

.user_info
{
	text-align: center;
}

.userpic
{
	width: 15%;
	border-radius: 100%;
	border: 5px solid #eeeeee;
}

.picture
{
	font-size: 2em;
	margin-top: 0.7em;
}

.picture a
{
	text-decoration: none;
}

.success_btn
{
	padding: 2em;
	margin-top: 1em;
}

.success_btn input
{
	background: #ff5d56;
    border: 2px solid #ff5d56;
    color: #fff;
    padding: 0.7em 1.2em;
    font-size: 1.7em;
    text-align: center;
    text-decoration: none;
}

.person_info
{
	padding: 0em 10% 0em;
}

.info_div
{
	padding: 2em;
}

.info1
{
	margin: 0;
}

p.title_person
{
	font-size: 2em;
	padding-bottom: 0.5em;
	border-bottom: 1px solid #333333;
}

.message
{
	margin-bottom: 1em;
	font-size: 1.5em;
}

.info
{
	margin: 0;
	background: #f8f8f8;
	padding-top: 2em;
	padding-left: 2em;
	padding-right: 2em;
}

.info2
{
	margin: 0;
	background: #f8f8f8;
	padding-top: 2em;
	padding-bottom: 2.5em;
}

.info p
{
	font-size: 1.7em;
	margin: 0;
	padding-left: 0;
	padding-top: 0.5em;
}

.info input
{
	font-size: 1.7em;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}

.buy_info
{
	padding: 0em 10% 0em;
}

.label1
{
	padding: 2em;
	background: #f8f8f8;
	margin: 0;
}

.label1 p
{
	font-size: 1.5em;
	margin: 0;
}

.agree
{
	padding-left: 2em;
	padding-right: 2em;
	margin-top: 0em;
}

.agree p
{
	display: inline-block;
	margin-left: 1em;
}


@media (max-width: 992px){

.row
{
	margin-left: 0;
	margin-right: 0;
}

.content
{
	margin-top: 70px;
}

.message
{
	display: none;
}

.ul.support
{
	display: none;
}

.header-top
{
	display: none;
}

.loca
{
	display: none;
}

.bar_news
{
	display: none;
}

.userpic
{
	width: 30%;
	border-radius: 100%;
	border: 3px solid #eeeeee;
}

.main_up
{
	background: #fff;
	padding: 1.5em 0em 1.5em;
	-webkit-box-shadow:0 0 10px rgba(149, 149, 149, 0.5);  
	-moz-box-shadow:0 0 10px rgba(149, 149, 149, 0.5);  
	box-shadow:0 0 10px rgba(149, 149, 149, 0.5);  
}

.username
{
	font-size: 1.5em;
	margin-top: 0.5em;
}

.person_btn
{
	margin-top: 1em;
}

a.readmore
{
    background: #ff5d56;
    color: #fff;
    /*background: none;
    border: 2px solid #000;
    color: #000;*/
    padding: 0.4em 0em;
    font-size: 1.4em;
    text-align: center;
    text-decoration: none;
}

a.beartist
{
	border-right: 1px solid #fff;
}

a.modify
{
	border-left: 1px solid #fff;
}

.partten
{
	display: none;
}

.person_info
{
	padding: 0;
	margin-bottom: 1.5em;
}

.info_div
{
	padding: 0;
	box-shadow: 0 0 5px rgba(149,149,149,0.3);
}

p.title_person
{
	font-size: 1.4em;
	padding-bottom: 0.7em;
	padding-top: 0.7em;
	margin-bottom: 0em;
	background: #eee;
	border: 0px;
}

.info p
{
	font-size: 1.2em;
	margin: 0;
	line-height: 1.7em;
	color: #333;
}

.label_t
{
	padding: 0;
}

.info
{
	margin: 0;
	background: #fff;
	padding-top: 0.7em;
	padding-bottom: 0.7em;
	border-bottom: 1px solid #eee;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

.info1
{
	/*padding-left: 0.5em;
	padding-right: 0.5em;*/
}

.buy_info
{
	padding: 0;
	margin-bottom: 1.5em;
}

.main-mid
{
	background-color: #f8f8f8;
	-webkit-box-shadow:0 0 10px rgba(149, 149, 149, 0.5);  
	-moz-box-shadow:0 0 10px rgba(149, 149, 149, 0.5);  
	padding-bottom: 1.5em;
}

.btn-xs
{
	padding: 0;
}


.password_label,.password_input,.password_error,.password_btn
{
	margin-left: 0px;
	margin-right: 0px;
}

.password_label
{
	margin-top: 0em;
}

.password_label p
{
	font-size: 1.3em;
	color: #333;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 0;
	padding-bottom: 0.3em;
}

.password_input
{
	margin-top: 0em;
	margin-bottom: 0.5em;
}

.password_input input
{
	font-size: 1.2em;
	color: #333;
	border-radius: 5px;
	border: 1px solid #333;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}

.password_error
{
	margin-top: -1em;
	/*display: none;*/
	margin-bottom: 0em;
}

.password_error p
{
	font-size: 1em;
	color: #ff5d56;
	margin-bottom: 0px;
	padding-top: 10px;
}

.label1 p
{
	padding: 0;
	font-size: 1.1em;
}

.agree
{
	margin-top: 1em;
}

.success_btn
{
	margin-top: 0;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 1em;
}

.success_btn input
{
	font-size: 1.5em;
	padding: 0.5em 1.2em;
}

}