.password_label,.password_input,.password_error,.password_btn
{
	margin-left: 0px;
	margin-right: 0px;
}

.password_label
{
	margin-top: 0.5em;
}

.password_label p
{
	font-size: 1.3em;
	color: #333;
	padding-left: 0px;
	padding-right: 0px;
}

.password_input
{
	margin-top: 0em;
	margin-bottom: 1.5em;
}

.password_input input
{
	font-size: 1.3em;
	color: #333;
	border-radius: 5px;
	border: 1px solid #333;
	padding-top: 0.4em;
	padding-bottom: 0.4em;
}

.password_error
{
	margin-top: -1em;
	/*display: none;*/
	margin-bottom: 1em;
}

.password_error p
{
	font-size: 1em;
	color: #ff5d56;
	margin-bottom: 0px;
}

.password_btn
{
	margin-top: 0em;
}

.btn_submit
{
	background-color: #ff5d56;
	color: #fff;
	font-size: 1.4em;
	padding: 0.7em 0;
	margin-top: 1em;
	margin-bottom: 1em;
	border: 0px;
	border-radius: 5px;
	/*box-shadow: 0 0 10px rgba(100,100,100,0.5);*/
}